
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 320px;
    margin: 100px auto;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}   

button {
    width: 100%;
    padding: 10px;
    background: #2679d3;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}



body {
    font-family: Arial;
    margin: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}
